body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f4f4f4;
    transition: background-color 0.3s, color 0.3s;
}


header {
    background-color: #000;
    color: #fff;
    padding: 40px;
    text-align: center;
    position: relative; /* Necessário para posicionar as imagens flutuantes */
    overflow: hidden; /* Garante que as imagens flutuantes não saiam do cabeçalho */
}
.header-content {
    position: relative;
    z-index: 1; /* Garante que o texto fique sobre as imagens flutuantes */
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    line-height: 1.2;
}

header h1 .name-highlight {
    color: #8a2be2; /* Roxo */
    display: inline-block; /* Necessário para a animação funcionar corretamente */
    animation: float 3s ease-in-out infinite;
}

header p {
    font-size: 1.2em;
    margin-top: 10px;
}

/* Animação de flutuar */
@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

/* Imagens flutuantes */
.floating-images {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.floating-image {
    width: 50px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    margin: 0 15px;
    animation: float 6s ease-in-out infinite;
}

.floating-image:nth-child(2) {
    animation-delay: 2s;
}

.floating-image:nth-child(3) {
    animation-delay: 4s;
}

nav {
    margin: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
}

section {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: #444;
    color: #f4f4f4;
}

footer {
    background-color: #222; 
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

button {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #f4f4f4;
    color: #333;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ddd;
}

/* Estilo do Carrossel */
.skills-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.skills-wrapper {
    overflow: hidden;
    width: 80%;
}

.skills-container {
    display: flex;
    transition: transform 0.5s ease;
}

.skill-card {
    min-width: 250px;
    background-color: #555;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-progress-container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.skill-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(orange var(--percentage), transparent var(--percentage));
    border: 5px solid #f4f4f4; /* Borda do círculo */
}

.skill-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
}

.prev, .next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
